<div class="page-topbar">
    <div class='logo-area'>
        <img alt="Brand" src="{{base_url}}{{settings.logoSrc}}" height="60" >
    </div>
    <div class='quick-area'>
        <div class='pull-left slantit'>
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap">
                    <a href data-toggle="sidebar" class="sidebar_toggle" ng-click="app.settings.menuFolded = !app.settings.menuFolded; menuChatToggle('menu',app.settings.menuFolded) ">
                        <i class="material-icons">menu</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pull-left pagetitle">
            <span class='line'></span>
            <h1>Ecommerce</h1>
            <div></div>
        </div>
        <div ui-sref="logout" style="cursor:pointer;color: #dcdcdc;padding-right: 15px" class="pull-right info-menu logout">
            <span class='fa fa-lg fa-sign-out'>Logout</span>
        </div>
    </div>
</div>