<div class='content-wrapper'>
    <section class="box ">
        <div class="content-body">
            <h3>Review Your Order</h3>
            <div style="margin-left: 25px" class="row">

                <div class="col-sm-9">
                    <div  class="row">

                        <div class="col-sm-6">
                            <div  class="row">
                                <div class="col-sm-6"><a>Shipping Address</a></div>
                                <div ui-sref="shop.address-manager" class="col-sm-6"><button class="btn btn-xs btn-default">Change</button></div>
                            </div>


                            <h5>{{modelData.shipping.full_name}}</h5>
                            <h5>{{modelData.shipping.address1}}</h5>
                            <h5>{{modelData.shipping.address2}}</h5>
                            <h5>{{modelData.shipping.city}}, {{modelData.shipping.state}} {{modelData.shipping.zip}}</h5>
                            <h5>United States</h5>
                            <h5>{{modelData.shipping.phone}}</h5>
                        </div>

                        <div class="col-sm-6">

                            <div  class="row">
                                <div class="col-sm-6"><a>Payment Method</a></div>
                                <div   class="col-sm-6"><button class="btn btn-xs btn-default">Change</button></div>
                            </div>
                            <h5>Visa ending in ..4543</h5>

                            <div   class="row">
                                <div class="col-sm-6"><a>Billing Address</a></div>
                                <div ui-sref="shop.address-manager" class="col-sm-6"><button class="btn btn-xs btn-default">Change</button></div>
                            </div>
                            <h5>{{modelData.billing.full_name}}</h5>
                            <h5>{{modelData.billing.address1}}</h5>
                            <h5>{{modelData.billing.address2}}</h5>
                            <h5>{{modelData.billing.city}}, {{modelData.billing.state}} {{modelData.billing.zip}}</h5>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12" ng-repeat="item in modelData.items">
                            <div class="media ">
                                <img style="width:75px" ng-click="detail(item._id)" alt="Alt Image" class="pull-left "
                                     src="{{item.images[0].url}}">
                                <div class="media-body">
                                    <div class="media-heading editable-header">
                                        <h5 ng-bind-html="item.title"></h5>
                                    </div>
                                    <h5>{{item.qty}} @ {{item.tiers[0].price | currency: "$" : 2}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <button ng-click="placeOrder()" class="btn btn-warning">Place Order</button>
                    <h3>Order Summary</h3>
                    <table class="table-striped table ">
                        <tr>
                            <td>Items ({{qty}})</td>
                            <td>{{modelData.subTotal | currency: "$" : 2}}</td>
                        </tr>
                        <tr>
                            <td>Shipping</td>
                            <td>{{modelData.shipping | currency: "$" : 2}}</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td>{{modelData.tax | currency: "$" : 2}}</td>
                        </tr>
                        <tr class="text-danger">
                            <td><h4>Order Total</h4></td>
                            <td><h4>{{modelData.total | currency: "$" : 2}}</h4></td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </section>
</div>