<div class="panel panel-default filterable" id="snippet_52" >
    <div class="panel-heading">
        <h3 class="panel-title">Products</h3>
        <form ng-submit="search()" >
            <div class="input-group search">
                <input class="form-control input-sm" ng-model="srchterm" placeholder="Search for">
                <span class="input-group-btn">
                      <button class="btn btn-round btn-sm btn-default" type="submit" ng-click="search()" >
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-round btn-sm btn-default"  ng-click="new()" >
                        <i class="fa fa-plus"> New</i>
                    </button>
                </span>
                <span class="btn-group pull-right text-center">
                    <a class="btn btn-sm btn-round btn-default pager_prev" ng-click="prevPage()" type="button">Prev</a>
                    <a class="btn btn-sm btn-default page_number" ng-click="cycle()" type="button">{{listParams.page}} of {{totalpages}}</a>
                    <a class="btn btn-sm btn-round btn-default pager_next" ng-click="nextPage()" type="button">Next</a>
                </span>
            </div>
        </form>
    </div>
    <div class="panel-body no-more-tables">
        <table class="table table-striped table-bordered table-hover table-responsive table-condensed push-down">
            <thead>
                <tr>
                    <th>Image</th>
                    <th ng-click="sort()">Description<span class="fa fa-caret-down"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-dblclick="update(item._id)"  ng-repeat="item in items" >
                    <td ng-click="update(item._id)" class='img-thumbnail'><img style="max-width:100px;"  ng-if="item.images[0].url" src="{{item.images[0].url}}"></td>
                    <td>
                        <button class="btn btn-round btn-xs btn-default pull-right"  ng-click="remove(item._id)" >
                            <i class="fa fa-remove"></i>
                        </button>
                        <h3 ng-bind-html="item.title"></h3>
                        <h5>
                            <span ng-bind-html="item.category"></span> -
                            <span class="inline" ng-bind-html="item.subcategory"></span>
                        </h5>
                        <i ng-bind-html="item.description"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="row container-padding">
            <div class="col-sm-4"></div>
            <div class="record_count col-sm-4"></div>
        </div>
    </div>
</div>