<div class="page-topbar">
    <div ui-sref="ecom.products" class='logo-area'>
        <img alt="Brand" src="{{base_url}}{{settings.logoSrc}}" height="60" >
    </div>
    <div class='quick-area'>

        <div ui-sref="shop.home" class="pull-left pagetitle">
            <span class='line'></span>
            <h1>Shopping</h1>
        </div>
        <!-- todo: put in css file -->
        <div ui-sref="shop.cart" style="color: #ffffff;padding-right: 15px" class="pull-right info-menu">
            <span class='fa fa-2x fa-shopping-cart'></span>
            <span style="color:#ffffff;background-color:#ff633b" class="badge badge-accent">{{qty}}</span>
        </div>

        <div ng-show="authenticated"  ui-sref="logout" style="cursor:pointer;color: #ffffff;padding-right: 15px" class="pull-right info-menu">
            <span class='fa fa-lg fa-sign-out'>&nbsp;Sign out</span>
        </div>
        <div ng-hide="authenticated"  ui-sref="login" style="cursor:pointer;color: #ffffff;padding-right: 15px" class="pull-right info-menu">
            <span class='fa fa-lg fa-sign-out'>&nbsp;Sign In</span>
        </div>
        <div ng-show="authenticated"  ui-sref="shop.orders" style="cursor:pointer;color: #ffffff;padding-right: 15px" class="pull-right info-menu">
            <span class='fa fa-lg fa-list-ol'>&nbsp;Orders</span>
        </div>

<!--
        <form class="searchform pull-right right-links list-inline list-unstyled" ng-submit="search()" >
            <div  class="input-group search-topbar search">
                <input class="form-control input-sm" ng-model="globalsearchterm" placeholder="Search for">
                <span class="input-group-btn">
                    <button class="btn btn-round btn-sm btn-default" type="submit" ng-click="search()" >
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form> -->
    </div>
</div>