<div class="nav-side-menu">
    <div class="brand" >
        <i>Ecommerce</i>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#side-menu"></i>
    <div class="menu-list">
        <ul class="menu-content collapse out">
            <div class="links">
                <li data-toggle="collapse" ui-sref="ecom.dashboard" data-target="#dashboard" class="collapsed">
                    <a >
                        <i  class="fa fa-dashboard fa-lg"></i>
                        <span class="nav-label">Dashboard</span>
                    </a>
                </li>
                <li data-toggle="collapse" ui-sref="ecom.products" data-target="#products" class="collapsed">
                    <a>
                        <i class="fa fa-barcode fa-lg"></i>
                        <span class="nav-label">Products</span>
                        <span class="fa arrow pull-right" ></span>
                    </a>
                    <ul class="sub-menu collapse" id="products">
                        <li ui-sref="ecom.products" >
                            <span class="fa fa-list"></span>
                            All
                        </li>
                        <li ui-sref="ecom.product" > <span class="fa fa-plus-circle"></span>
                            Add</li>
                    </ul>
                </li>
                <li data-toggle="collapse" data-target="#billing" class="collapsed">
                    <a>
                        <i class="fa fa-dollar fa-lg"></i>
                        <span class="nav-label" >Billing</span>
                        <span class="fa arrow pull-right" ></span>
                    </a>
                    <ul class="sub-menu collapse" id="billing">
                        <li>
                            <span class="fa fa-list"></span>
                            All
                        </li>
                        <li> <span class="fa fa-plus-circle"></span>
                            Add</li>
                    </ul>
                </li>

                <li data-toggle="collapse" data-target="#customers" class="collapsed">
                    <a>
                        <i class="fa fa-user fa-lg"></i>
                        <span class="nav-label" >Customers</span>
                        <span class="fa arrow pull-right" ></span>
                    </a>
                    <ul class="sub-menu collapse" id="customers">
                        <li>
                            <span class="fa fa-list"></span>
                            All
                        </li>
                        <li> <span class="fa fa-plus-circle"></span>
                            Add</li>
                    </ul>
                </li>
                <li data-toggle="collapse" data-target="#vendors" class="collapsed">
                    <a>
                        <i class="fa fa-group fa-lg"></i>
                        <span class="nav-label" >Vendors</span>
                        <span class="fa arrow pull-right" ></span>
                    </a>
                    <ul class="sub-menu collapse" id="vendors">
                        <li>
                            <span class="fa fa-list"></span>
                            All
                        </li>
                        <li> <span class="fa fa-plus-circle"></span>
                            Add</li>
                    </ul>
                </li>
                <li data-toggle="collapse" data-target="#orders" class="collapsed">
                    <a>
                        <i class="fa fa-shopping-cart fa-lg"></i>
                        <span class="nav-label" >Orders</span>
                        <span class="fa arrow pull-right" ></span>
                    </a>
                    <ul class="sub-menu collapse" id="orders">
                        <li>
                            <span class="fa fa-list"></span>
                             All
                        </li>
                        <li> <span class="fa fa-plus-circle"></span>
                            Add</li>
                    </ul>
                </li>
            </div>
        </ul>
    </div>
</div>