<div class="page-topbar">
    <div class='logo-area'>
        <img alt="Brand" src="{{base_url}}{{settings.logoSrc}}" height="60" >
    </div>
    <div class='quick-area'>

        <div ui-sref="shop.home" class="pull-left pagetitle">
            <span class='line'></span>
            <h1>Home</h1>
        </div>



        <div ng-show="authenticated"  ui-sref="logout" style="cursor:pointer;color: #ffffff;padding-right: 15px" class="pull-right info-menu">
            <span class='fa fa-lg fa-sign-out'>&nbsp;Log out</span>

        </div>
            <div ng-hide="authenticated" ui-sref="login" style="cursor:pointer;color: #ffffff;padding-right: 15px" class="pull-right info-menu">
                <span class='fa fa-lg fa-sign-out'>&nbsp;Sign In</span>

            </div>
        <div ng-show="authenticated" ui-sref="index.account" style="cursor:pointer;color: #ffffff;padding-right: 15px" class="pull-right info-menu">
            <span class='fa fa-lg fa-sign-out'>&nbsp;Account</span>

        </div>

    </div>
</div>


