<div class="page-topbar">
    <div class='logo-area'>
        <img alt="Brand" src="{{base_url}}{{settings.logoSrc}}" height="60" >
    </div>
    <div class='quick-area'>

        <div ui-sref="shop.home" class="pull-left pagetitle">
            <span class='line'></span>
            <h1>Home</h1>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="authenticated">
                <a ui-sref="index.account"><span class="fa fa-gear"></span>&nbsp;Account</a>
            </li>
            <li ng-show="authenticated" class="logout">
                <a ui-sref="logout">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
            <li ng-hide="authenticated" class="logout">
                <a ui-sref="login">
                    <i class="fa fa-sign-out"></i> Log in
                </a>
            </li>
        </ul>
    </div>
</div>


